In [1]:
%load_ext sql

In [2]:
%%html
<style>table {float:left}</style>

(sale_date, fruit) is the primary key for this table. This table contains the sales of "apples" and "oranges" sold each day.

| Column Name   | Type    |
|---------------|---------|
| sale_date     | date    |
| fruit         | enum    | 
| sold_num      | int     |

Write an SQL query to report the difference between the number of apples and oranges sold each day.

Return the result table ordered by sale_date.

The query result format is in the following example.

| sale_date  | diff         |
|------------|--------------|
| 2021-03-01 | 25           |
| 2021-03-02 | -12          |
| 2021-03-03 | 1            |
| 2021-03-04 | 0            |

In [3]:
%sql sqlite:///fruit.db

In [4]:
%%sql

/* insert sql here */

 * sqlite:///fruit.db
Done.

[]